*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 18px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.45;
  color: #333;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', Arial, sans-serif;
}

a {
  color: #337AB7;
}

a:hover {
  color: #23527c;
}

.content {
  margin-left: 10%;
}

@media(max-width: 768px) {
  .content {
    margin-left: 5%;
  }
}

.school,
.about {
  width: 60%;
  max-width: 768px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .school,
  .about {
    width: 100%;
    padding-right: 5%;
  }
}

.about__img {
  vertical-align: middle;
  margin-right: 10px;
  max-width: 215px;
  width: 100%;
}

.is--loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
